body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.topic{
    border: 2px solid red;
    text-align:center;
    color: white;
    background-image: linear-gradient(45deg,green, red);
    font-weight:500;
}
.link{
    font-size:25px;
    margin:2% 20%;
    border: 2px solid red;
    text-align:center;
}
pre{
    text-align:justify;
    height:200px;
    padding: 2%;
    margin: 5% 10%;
    resize:both;
    overflow:auto;
}
a:link{
    color:green;
    }
    a:visited{
        color:rgb(212, 0, 255);
    }
    a:hover{
        color:red;
    }
    a:active{
        color:rgb(242, 255, 0);
    }
    @media(max-width: 768px){
        /* For mobile phones: */
        .topic, .link{
            min-width:98%;
            margin: 1%;
        }
      }