body{
    font-family: sans-serif;
}
h1{
    font-size: 50px;
    padding: 1%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 1rem 0;
}
.topic{
    padding: 0px 16px;
    text-align:justify;
    font-size: 20px;
}
.code{
    border: 2px solid rgb(4, 90, 121);
    margin:2% 20%;
}
.code h2{
    text-align: center;
    margin-top:0px;
    background-color: rgb(5, 5, 149);
    color: white;
}
pre{
    font-size: 20px;
    height: 300px;
    padding: 2%;
    resize:both;
    overflow:auto;
}
.c1{
    padding:0px 16px;
    height: auto;
}
.nav{
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color:rgb(4, 37, 108);
    border-radius: 20px;
}
.nav li{
    padding:16px 0px;
}
.nav li a{
    padding:16px;
    font-weight:700;
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: green;
}
@media(max-width: 712px){
    /* For mobile phones: */
    .info, .code{
      min-width: 98%;
      margin:1%;
    }
  }

