body{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    font-size:20px;
    margin: 0px 0px 0px 50px;
}
h2{
    color:rgb(255, 5, 5);
}

.first{
    color:rgb(18, 109, 13);
    font-size:20px;
    font-weight:500;
    text-align:justify;
    width:35%;
    float:right;
    margin:5%;
    padding:2%;
}

.link1{
    text-decoration: none;
    border-radius:5px;
    padding:10px 20px;
    background-image:linear-gradient(45deg,rgb(255, 0, 247),red);
    color:whitesmoke;
    font-weight:700;
}
.second{
    text-align:justify;
    /*border: 2px solid red;*/
    color:rgb(20, 108, 33);
    font-size: 20px;
    font-weight:500;
    width:35%;
    float:left;
    margin:5%;
    padding:2%;
}
.third{
    background-color:red;
    border: 2px solid red;
    height:250px;
    max-width:40%;
    color:rgb(14, 82, 23);
    font-size:20px;
    font-weight:500;
    text-align:center;
    margin:5%;
    padding:2%;  
}

.link2{
    text-decoration: none;
    border-radius:5px;
    padding:10px 20px;
    background-image:linear-gradient(45deg,rgb(255, 0, 0),rgb(30, 0, 255));
    color:whitesmoke; 
    font-weight:700;
}
@media(max-width:600px){
    div{

        min-width:90%;
        min-height: auto;
    }
}
@media(max-width:800px){
    div{

        min-width:87%;
        min-height: auto;
    }
}