h1{
    font-size:40px;
    text-align: center;
    border: 2px solid red;
    background-image: linear-gradient(45deg, green, rgb(255, 0, 0));
    color: aqua;
}
pre{
    font-size: 20px;
    position:relative;
    left:200px;
    height: 200px;
    width: 600px;
    padding: 2%;
    margin:2%;
    resize:both;
    overflow:auto;
}