body{
    font-family: sans-serif;
}
h1{
    font-size: 50px;
    padding: 1%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
}
.code{
    border: 2px solid rgb(4, 90, 121);
    margin:2% 20%;
}
.code h2{
    text-align: center;
    
    margin-top:0px;
    background-color: rgb(5, 5, 149);
    color: white;
}
pre{
    font-size: 20px;
    height: 300px;

    padding: 2%;

    resize:both;
    overflow:auto;
}
@media(max-width: 712px){
    /* For mobile phones: */
    .info, .code{
      min-width: 98%;
      margin:1%;
    }
  }